@model int

 
<div class="row">
    <div class="col-6"> 
        @*Note that we call @Model below now Model.id because at the top of the file we called model int*@
        <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Update" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>