@model Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create Category</h2>
<br />

<form method="post" asp-action="Create">
    <div class="border backgroundWhite">
        @*Model only just gives validation for the model field thats required on the client side*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                @*asp-for on the label gives the name for the model field, name is called name, when passed to the input it gives the value for the name field*@
                @*we added a display property ontop of name that changes the name field to output "Category name"*@
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
               <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>